/*@import "compass/css3";

@import url("https://fonts.googleapis.com/css?family=Spinnaker");*/

$silver: #bdc3c7;
$purple:#9b59b6;
$white: #ecf0f1;
$black: #2c3e50;

body{background:$purple;color:$white;font-family:lato,sans-serif;text-align:center;margin:10% auto;display: table;}
form{
  text-align:left;
}

#file-upload {
    position: absolute;
    left: -9999px;
}

label[for="file-upload"]{
  padding:0.5em;  
  display:inline-block;
  background:darken($purple ,20%);
  cursor:pointer;
  &:hover{background:darken($purple ,17%)}
}
#filename{
  padding:0.5em;
  float:left;
  width:150px;
  white-space: nowrap;
  overflow:hidden;
  background:darken($purple ,10%);
}