<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA ANALYSIS</title>
    <!--BS4 compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- BS4 compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Charts JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



</head>
<body>
    <div class="container-fluid">
        <header class="row card world-card card-block d-table-cell" style="width:100vw;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-danger world-head">AUTO THEFT RECORDS</h1>
                    </div>
                </div>
                {{range .}}
                <div class="row">                                    
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title">AUTO THEFT RECOVERED</h5>
                                <h2><div class="alert alert-danger" role="alert">{{.AutoTheftRecovered}}</div></h2>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title">AUTO THEFT STOLEN</h5>
                                <h2><div class="alert alert-danger" role="alert">{{.AutoTheftStolen}}</div></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body" style="text-align: center;">
                                <h5 class="card-title">AREA NAME</h5>
                                <h2><div class="alert alert-success" role="alert">{{.AreaName}}</div></h2>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
            
        </header>
        <!-- charts begin here -->
        <!-- <canvas id="myChart"></canvas> -->
        <script type='text/javascript' src='https://prod-apnortheast-a.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1366px; height: 850px;'><object class='tableauViz' width='1366' height='850' style='display:none;'><param name='host_url' value='https%3A%2F%2Fprod-apnortheast-a.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;indiancrimeanalysis' /><param name='name' value='RapeCases&#47;Totalcasesonmap&#47;geek.saurabh98@gmail.com&#47;04de5e00-30a3-45e9-ada5-62e3c876a506' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>

        <!-- chart ends here -->
    </div>
</body>
<script src="script.js"></script>
</html>